<div class="container">
  <div class="d-flex flex-column align-items-center m-5">
    <h1>Result</h1>

  <% if @included %>
    <% if @english_word %>
      <h3 class="m-3"><strong>Congratulations!</strong> <%= @word %> is a valid English word!</h3>
    <% else %>
      <h3 class="m-3">Sorry but <strong><%= @word %></strong> does not seem to be a valid English word...</h3>
    <% end %>
  <% else %>
    <h3 class="m-3">Sorry but <strong><%= @word %></strong> can't be built out of <%= @letters.join(", ") %></h3>
  <% end %>
  <%= link_to "Play again", new_path, class: "btn btn-success"%>
  </div>
</div>
